.setting/*
.gradle/*
desktop.ini
.project
*.class
build/*
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
bin/

# Eclipse Project Ignore due to Different Reference Path in .classpath and unnecessary logs in .metadata
.classpath
.metadata/*
.settings/*
/.gradle/
/build/
